In [1]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
for val in numbers: # iterate over the list
	print(val)
print("the for ends here")

6
5
3
8
4
2
5
4
11
the for ends here

In [3]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
if val = 4
	print(val)
print("the for ends here")

SyntaxError: invalid syntax (265202629.py, line 2)

In [5]:
sum = 0 
i = 1 # initialize sum and counter

while i <= 4:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum) # print the sum

The sum is 10

In [20]:
password = "44140e"
f=input("enter password")

while f != "44140e":
   f= input("enter password")


      
print("welcome")

enter passworda
enter passwordaezaez
enter passwordzeze
enter passwordz
enter passworde
enter passwordzez
enter passwordeze
enter passwordze
enter passwordze
enter password44140e
welcome

In [27]:
n= input("Enter an intiger : ")
n2= (n+n)
n3= (n+n+n)
print(int(n)+int(n2)+int(n3))

615

In [38]:
num = int(input("Enter a number: "))
n = num % 2
if n == 0:
    print("This is an even number.")
else:
    print("This is an odd number.")

Enter a number: 7
This is an odd number.

In [46]:
for n in range(2000,3201):
    if (n%7 == 0) and (n%5!=0) :
        print(n,end='/')
        
print("\b.")

2002/2009/2016/2023/2037/2044/2051/2058/2072/2079/2086/2093/2107/2114/2121/2128/2142/2149/2156/2163/2177/2184/2191/2198/2212/2219/2226/2233/2247/2254/2261/2268/2282/2289/2296/2303/2317/2324/2331/2338/2352/2359/2366/2373/2387/2394/2401/2408/2422/2429/2436/2443/2457/2464/2471/2478/2492/2499/2506/2513/2527/2534/2541/2548/2562/2569/2576/2583/2597/2604/2611/2618/2632/2639/2646/2653/2667/2674/2681/2688/2702/2709/2716/2723/2737/2744/2751/2758/2772/2779/2786/2793/2807/2814/2821/2828/2842/2849/2856/2863/2877/2884/2891/2898/2912/2919/2926/2933/2947/2954/2961/2968/2982/2989/2996/3003/3017/3024/3031/3038/3052/3059/3066/3073/3087/3094/3101/3108/3122/3129/3136/3143/3157/3164/3171/3178/3192/3199/.

In [51]:
n = int(input("Enter a number : ")) 
fact = 1
i = 1
while i <= n:
    fact = fact * i;
    i = i + 1
print('the factorial is :',fact)

Enter a number : 8
the factorial is : 40320

In [58]:
my_list=["one","two","three","four","five","six"]
my_list.append("seven")
print(my_list)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [65]:
my_list=["one","two","three","four","five","six"]
my_list.insert(3, "eight")
my_list

['one', 'two', 'three', 'eight', 'four', 'five', 'six']

In [70]:
my_list=["one","two","three","four","five","six"]
my_list[2]="hola"
print(my_list)

['one', 'two', 'hola', 'four', 'five', 'six']

In [9]:
my_dictionary= {"knowledge":"math","tool": "python","year": 2022}
for key in my_dictionary.keys():
    print(key)
for value in my_dictionary.values():
    print(value)
for item in my_dictionary.items():
    print(item)
print(len(my_dictionary))

knowledge
tool
year
math
python
2022
('knowledge', 'math')
('tool', 'python')
('year', 2022)
3

In [12]:
my_dictionary= {"knowledge": "math","tool": "python", "date": "13aout2022"}
my_dictionary["learn"]= False
print(my_dictionary)

{'knowledge': 'math', 'tool': 'python', 'date': '13aout2022', 'learn': False}

In [15]:
my_dictionary.pop("date")
print(my_dictionary)

{'knowledge': 'math', 'tool': 'python', 'learn': False}

In [18]:
del my_dictionary

In [20]:
my_set= {"python","c++","html"}
my_set.add("java")
print(my_set)

{'java', 'html', 'python', 'c++'}

In [21]:
my_set.remove("html")
print(my_set)

{'java', 'python', 'c++'}

In [22]:
del my_set

In [24]:
my_tuple=("python","java","c++")
print(my_tuble[2])

c++

In [25]:
tuple1 = ("a","b","c","d")
tuple2 = ("1","f","4")
tuple3 = ("sigma","beta","gamma")
tuple4=tuple1 + tuple2 + tuple3
print(tuple4)

('a', 'b', 'c', 'd', '1', 'f', '4', 'sigma', 'beta', 'gamma')

In [27]:
n=input("enter your list:")
my_list=n.split(",")
x=1
for numb in my_list :
    x=x*int(numb)
print("result :",x)

enter your list:2,3,6
result : 36

In [29]:
a=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(sorted(a))

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [49]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
d3.update(d2)
for i in d1:
    if i in d2:
        d3[i]=d1[i]+d2[i]    

        if i not in d2:
        dict(d4)=d1[i]

print(d3)

IndentationError: expected an indented block (3733918586.py, line 10)

In [40]:
num=int(input("enter a number:"))
dictionary={}
for n in range (1,num+1):
    dictionary[n]=n*n
print(dictionary)

enter a number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [52]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for i in d2 :
    if i in d1 :
        d3[i]=d1[i]+d2[i]
    if i not in d1:
        d3[i]=d2[i]

            
for i in d1:
    if i not in d2:
        d3[i]=d1[i]
print (d3)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [53]:
n=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

n.sort(reverse=True)
print(n)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]